.container {
  width: 100%;
  height: 90%;
}

.projects {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: white;
}
