<div class="container">
  <div class="projects">
    <app-project-item
      title="Portfolio Website"
      imageName="main-bg.png"
      description="This website is made using Angular."
      sourceCodeLink=""
    ></app-project-item>

    <app-project-item
      title="RIIS Paid Time Off Webapp"
      imageName="angular-logo.png"
      description="An Angular webapp made during my RIIS internship for employees to submit requests for paid time off.
        Features an admin side for administrators to approve or reject requests."
      sourceCodeLink="https://github.com/scorbat/PTO-App"
    ></app-project-item>

    <app-project-item
      title="RIIS Paid Time Off Android"
      imageName="android-logo.png"
      description="An application made for Android devices as a frontend for the RIIS Paid Time Off website."
      sourceCodeLink="https://github.com/scorbat/RIIS-PTO-Android"
    ></app-project-item>
  </div>
</div>
