nav ul {
  float: right;
  list-style: none;
  display: flex;
  margin-right: 20%;
}

nav ul li {
  margin: 10px 30px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: inherit;
  border-radius: 20px;
  transition: background-color 0.2s;
}

a:hover {
  background-color: coral;
}
