.app {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}

/* video tag used for background, so should have low z index */
video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* higher z-index causes other content to be scrolled behind the navbar */
app-nav {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2;
}

/* ng deep makes this a global style */
::ng-deep router-outlet + * {
  margin-top: 80px;
  width: 100%;
  flex-grow: 1;
  z-index: 1;
}
