.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

app-i-am-a {
  margin-left: 10px;
}

.intro {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.header, .header * {
  color: white;
  font-size: 96px;
}

.header {
  display: flex;
}

.last-name {
  border: 3px solid coral;
  padding: 0 15px;
  margin-left: 10px;
}

.subtitle {
  font-size: 28px;
  color: antiquewhite;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header, .header * {
    font-size: 64px;
  }

  .header {
    display: block;
  }

  .last-name {
    width: fit-content;
  }

  .subtitle {
    display: block;
  }
}
